﻿@model WebUI.ViewModels.IQuestion
@{
    ViewBag.Title = "Create";
}
<div class="card mt-5">
    <div class="card-content">
        <h4>Добавление вопроса к тесту</h4>

        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            <label>Введите вопрос</label>
            <div>@Html.HiddenFor(model => model.TestId)</div>
            <div>@Html.HiddenFor(model => model.Id)</div>


            <div>
                @Html.EditorFor(model => model.Question)
                @Html.ValidationMessageFor(model => model.Question)
            </div>

            <label>Комментарий</label>
            <div>
                @Html.EditorFor(model => model.Comment)
                @Html.ValidationMessageFor(model => model.Comment)
            </div>

            <input type="submit" value="Добавить" class="btn btn-default" />
        }
    </div>
    </div>