﻿@model WebUI.ViewModels.QuestionViewModel
@{
    ViewBag.Title = "Details";
}

<h4>@Model.Text</h4>
<hr />
<button class="btn btn-secondary" onclick="location.href='@Url.Action("Create", "Answer", new { Id = Model.Id })'">Добавить ответ</button>
<h5> Варианты ответа</h5>
<div>
    <table class="table">
        @foreach (var answer in Model.Answers)
        {
            <tr>
                <td><p class="@(answer.IsTrueAnswer ? "TrueAnswer" : "FalseAnswer")">@answer.Text</p></td>
                <td><button class="btn btn-secondary" onclick="location.href='@Url.Action("Edit", "Answer", new { Id = answer.Id })'"><i class="material-icons">edit
</i></button> 
                <button class="btn btn-danger" onclick="location.href='@Url.Action("Delete", "Answer", new { Id = answer.Id })'"><i class="material-icons">delete</i></button></td>
             </tr>
        }
    </table>
</div>

<a href="/Cabinet/TestDetails?TestId=@Model.TestId">Вернуться</a>