﻿@model WebUI.ViewModels.IQuestion
@{
    ViewBag.Title = "Create";
}

<h4>Редактирование вопроса</h4>
<h3>@Model.Question</h3>
@using (Html.BeginForm())
{
    <label>Введите вопрос</label>
    <div>@Html.HiddenFor(model => model.TestId)</div>
    <div>@Html.HiddenFor(model => model.Id)</div>

    <div>
        @Html.EditorFor(model => model.Question)
        @Html.ValidationMessageFor(model => model.Question)
    </div>

    <input type="submit" value="Сохранить" />
}

