﻿@{
    ViewBag.Title = "Delete";
}




<div class="row">
    <div class="col-s6 s2 offset-4">
        <div class="card">
            <div class="card-action teal lighten-1 white-text center">
                <h2>Вы уверены, что хотите удалить свой аккаунт?</h2>
            </div>
            <div class="card-content">
                <form method="post">
                    <div class="row">
                        <div class="col">
                            <button class="btn-large btn-submit z-depth-1 waves-effect waves-dark" type="submit">Да</button>
                        </div>

                        <div class="col">
                            <button class="btn-large btn-submit z-depth-1 waves-effect waves-dark" type="button">Нет</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

