﻿@model WebUI.Models.EditModel

@{
    ViewBag.Title = "Edit";
}
<div class="row">
    <div class="col-s6 s2 offset-4">
        <div class="card">
            <div class="card-action teal lighten-1 white-text center">
                <h2>Редактировать данные профиля</h2>
            </div>
            <div class="card-content">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                <div class="col">
                    @Html.ValidationSummary(true, "")
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">recent_actors</i>
                            @Html.EditorFor(model => model.Fio)
                            <label>ФИО:</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">account_circle</i>
                            @Html.EditorFor(model => model.Login)
                            <label>Логин:</label>
                        </div>
                    </div>


                    <div class="row">
                        <div class="input-field col s12 ">
                            <input type="submit" class="btn-large btn-submit z-depth-1 waves-effect waves-dark " value="Сохранить" />
                        </div>
                    </div>

                </div>
                    }
                </div>
        </div>
    </div>
</div>

