﻿@model WebUI.Models.LoginModel

@{
    ViewBag.Title = "Login";
}
<div class="row mt-5">
    <div class="col-s6 s2 offset-4">
        <div class="card animated fadeInUp">
            <div class="card-action teal lighten-1 white-text center">
                <h4>Авторизация</h4>
            </div>
            <div class="card-content">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()
                    <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl"/>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">account_circle</i>
                            @Html.EditorFor(x => x.Login, new { id = "Login" })
                            <label  for="Login">Логин</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">lock</i>
                            @Html.EditorFor(x => x.Password, new { id = "Password" })
                            <label  for="Password">Пароль</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6 ">
                            <button class="btn-large btn-submit z-depth-1 waves-effect waves-dark " type="submit">Войти</button>
                        </div>
                        <div class="input-field col s6 ">
                            <a href="@Url.Action("register")" class="btn-large btn-submit z-depth-1 waves-effect">Регистрация</a>
                        </div>
                    </div>
                }
          </div>
        </div>
    </div>
</div>

