﻿@model WebUI.Models.RegisterModel
 
@{
    ViewBag.Title = "Регистрация";
}
<div class="row">
    <div class="col-6 offset-3">
        <div class="card animated fadeIn">
            <div class="card-action teal lighten-1 white-text center">
                <h3>Регистрация</h3>
            </div>
            <div class="card-content">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(false)
                    
                    <div class="row ">
                        @Html.DropDownListFor(model => model.RoleId,null,"--Выберите роль--", new { @class="browser-default"})
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">account_circle</i>
                            @Html.EditorFor(x => x.Login, new { id = "Login" })
                            <label for="Login">Логин</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">assignment_ind</i>
                            @Html.EditorFor(x => x.Fio, new { id="Fio" })
                            <label for="Fio">ФИО</label>
                        </div>
                    </div>


                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">computer</i>
                            @Html.EditorFor(x => x.Cafedra, new { id = "Cafedra" })
                            <label for="Cafedra">Номер кафедры</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">computer</i>
                            @Html.EditorFor(x => x.Facultet, new { id = "Facultet" })
                            <label for="Facultet">Номер факультета</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">computer</i>
                            @Html.EditorFor(x => x.GroupNum, new { id = "GroupNum" })
                            <label for="GroupNum">Номер группы</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">lock</i>
                            @Html.EditorFor(x => x.Password, new { id = "Password" })
                            <label for="Password">Пароль</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">lock</i>
                            @Html.EditorFor(x => x.PasswordConfirm, new { id = "PasswordConfirm" })
                            <label for="PasswordConfirm">Повторите пароль</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 ">
                            <button class="btn-large btn-submit z-depth-1 waves-effect waves-dark " type="submit">Регистрация</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>