﻿@model IEnumerable<Domain.Entity.TestCategory>
@{
    ViewBag.Title = "Категории";
}

<h2>Категории для группировки тестов</h2>

<a href="@Url.Action("Create","Categories")" class="btn-success">Создать</a>
<table class="table table-active table-bordered">
    <thead>
    <tr>
        <th>Категория</th>
        <th>описание</th>
        <th>Удалить</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var category in Model)
    {
        <tr id="@("row" + category.Id)">
            <td>
                @category.Name
            </td>
            <td>
                @category.Description
            </td>
            <td>
                <a href="#" class="btn-default" onclick="remove(@category.Id)" >Удалить</a>
            </td>
        </tr>
    }
   
    </tbody>
</table>

@section Scripts{
    <script>
        $(document).ready(function() {
            $('a').click(function (id) {
                
            })
        });


        function remove(id) {
        
            $.ajax({
                type: "GET",
                url: '@Url.Action("delete", "categories")/'+id,
                success: function (data) {
                    //изменить запись доступности
                    $('#row'+id).remove();
                    M.toast({ html: data.message });
                },
                error: function(data) {
                    M.toast({ html: data.message });
                }
            });
        }
    </script>
}
