﻿@model WebUI.ViewModels.DetailedResultVm
@{
    ViewBag.Title = "_detailedResult";
}

<p><b>Вопрос: </b>@Model.Question</p>
<div class="row">
    @if (Model.IsTrueAnswer)
    {
 
        <div class="col-1">
            <i class="material-icons prefix text-success">check</i>
        </div>
        <div class="col-11">
                <ul class="">
                    @foreach (var answer in Model.RigthAnswers)
                    {
                        <li class="text-success">
                            @answer
                        </li>
                    }
                </ul>
        </div>

    }
    else
    {

        <div class="col-1">
            <i class="material-icons prefix text-danger">clear</i>
        </div>
        <div class="col-11">
            <ul>
                @if (Model.CurrentAnswers.Count == 0)
                {
                    <li class="text-danger">

                        <i class="material-icons">event_busy</i>
                        Нет ответа
                    </li>
                }
                else
                {
                    foreach (var answer in Model.CurrentAnswers)
                    {
                        <li class="text-danger">
                            @answer
                        </li>
                    }
                }

            </ul>
            <ul class="">
                @foreach (var answer in Model.RigthAnswers)
                {
                    <p class="text-info"><b>Правильный ответ:</b> @answer</p>
                }
            </ul>
          

         
        </div>
    }
</div>
<div class="">
    <small>@Model.Comment</small>
<hr />
</div>