﻿@model IEnumerable<Domain.Entity.Result>
@{
    ViewBag.Title = "Результаты предыдущих прохождений";
    int i =0;
}

<div class="card">
    <div class="card-content">
        <div class="card-header-pills">
        <h5>История прохождения теста</h5>
            <hr/>
        </div>

        @foreach (var item in Model)
        {
            <div class="card col s6">
                <div class="card-content">
                    <b>@(++i)) @item.Date</b>
                    <hr/>
                    <p>оценка <b> @item.Mark</b></p>
                    <p>кол-во вопросов <b> @item.QuestionCount</b></p>
                    <p>Процентная результативность <b> @item.ResultInPercent</b></p>
                    <p>Количество правильных ответов <b> @item.RightAnswerCount</b></p>
                    <p>Затраченное время <b>@item.SpentTime</b></p>
                    <p> время на выполнение <b>@item.TimeToFill</b></p>
                </div>
            </div>

        }

        <div>
            <a href="@Url.Action("Index", "Home")"><i class="material-icons">reply</i>К списку тестов</a>

        </div>
    </div>
</div>