﻿@model  Domain.Entity.Test
@{
    ViewBag.Title = Model.Name;
}
<script>
    //таймер
    window.onload = function () {
        var timeToExecutting = @Model.TimeToExecute.TotalSeconds,
            display = document.querySelector('#time');
        startTimer(timeToExecutting, display);
    };
</script>

<div class="row" style="position: sticky; top: 0px;   z-index: 1000;">
    <div class="col s4 offset-3">
        <div class="card">
            <div class="card-action teal lighten-1 white-text center">
                <div class="page-header" id="@Model.Id">
                    <h5>@Model.Name</h5>
                    <h6><span class="nav-title">Оставшееся на выполнение время <span id="time">00:00</span></span></h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div Id="testWindow">


        @{var count = 1;}
        @foreach (var question in Model.Questions)
        {
            <form class="form-horizontal">

                <fieldset class="question" id="@question.Id">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-action teal lighten-1 white-text">
                                    <p class="mt-2">@count. @question.Question</p>
                                </div>

                                <div class="card-content">
                                    @foreach (var incorrectAnswer in question.Answers)
                                    {
                                        <div class="col-lg-6 radio">
                                            <label>
                                                <input type="checkbox" value="@incorrectAnswer.Id" name="question @count"/>
                                                <span>@incorrectAnswer.Text</span>
                                            </label>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
            count++;
        }
        <hr />
<div class="alert alert-danger" id="quizAlert" style="display: none;">
    <button type="button" id="dismissWarning" class="close">×</button>
    <strong>Ошибка:</strong> Пожалуйста, ответьте на все вопросы.
</div>

        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-lg-2 text-right">
                    <button class="btn-large btn-submit waves-effect bg-info" id="submitButton" >Завершить тестирование</button>
                        @*<div class="input-field col s12 ">
                            <button class="btn-large btn-submit z-depth-1 waves-effect teal deep-orange accent-4" id="submitButton" type="submit">Результат</button>
                        </div>*@
                </div>
            </div>
        </div>

</div>
@section Scripts{
    @Scripts.Render("~/Scripts/Quiz/attempt-quiz.js")
}

