﻿@model WebUI.ViewModels.ResultViewModel
@{
    ViewBag.Title = "Результаты";
    int count = 1;
}



<div class="card mt-5">
    <div class="card-header center ">
        <h4>Результат теста</h4>
    </div>
    <div class="row"> 
        <div class="col-4  animated fadeInLeft">
            <p>кол-во вопросов: @Model.QuestionCount</p>
            <p>Количество правильных ответов: @Model.RightAnswerCount</p>
            <p>оценка: <b>@Model.Mark</b></p>
            
            <p>Процентная результативность: @Model.ResultInPercent</p>            
            <p>Затраченное время: @Model.SpentTime</p>
            <p>время на выполнение: @Model.TimeToFill</p> 
            <a class="waves-effect waves-light btn" href="@Url.Action("Index","Home")"><i class="material-icons left">chevron_left</i>Вернуться к списку тестов</a>

        </div>
        <div class="col-8  animated fadeInRight">
            @if (Model.Results != null)
            {
                foreach (var item in Model.Results)
                {
                    @Html.Action("_detailedResult", "TestPassing", new { questionId = item.QuestionId, answersId = item.AnswersId })
                }
            }
            else
            {
                <div>
                    К сожалению, истории прохождения нет
                </div>
            }


        </div>
    </div>
</div>



