﻿

.navbar-collapse  label{
    color:white;
}

.Answer{
    font-size:20px;
}

.TrueAnswer {
    color: red;
}
.ui-accordion-header {
    font-size: 36px;
}

.additionalText{
    font-size:14px;
}


button.btn-submit {
    width: 100%;
}

ui.answer li:hover {
    background-color: #25a69a;
    color: #eafaf9;
    cursor: pointer;
}

ui li.selected {
    background-color: #26a69a !important;
    color: #eafaf9 !important;
}

input.invalid.dirty {
    border-bottom-color: #e91e63 !important;
    box-shadow: 0 1px 0 0 #e91e63 !important;
}

.validation-summary-errors {
    font-size:18px;
    color:red;
    font:bold;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    -o-flex: 1 0 auto;
    flex: 1 0 auto;
}

textarea {
    color: black;
}
input {
    color: black;
}
