﻿@model WebUI.ViewModels.AnsverViewModel

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "AnswerForm" }))
{
    @Html.HiddenFor(model => model.QuestionId)
    @Html.Label("Ответ", new { @class = "text-white" })
    @Html.EditorFor(model => model.Text, new { @class="text-white"})
    @Html.ValidationMessageFor(model => model.Text)
    
    <div class="row">
        <div class="col text-white">
            <p>
                <label for="TrueAnswer">
                    <input type="checkbox"  name="TrueAnswer" id="TrueAnswer" />
                    <span class="text-white">Верный ответ</span>
                </label>
            </p>
        </div>
        <div class="col">
            <input type="button" class="btn" value="Закрыть" id="close" onclick="AnswerFormClose()" />
            <input type="button" class="btn" value="Добавить" onclick="addAnswer()" />
        </div>
    </div>
}