﻿@model WebUI.ViewModels.IQuestion

@using (Html.BeginForm(null,null,FormMethod.Post, new{id ="QuestionForm"}))
{
    @Html.ValidationSummary(true)
    <label class="text-white">Введите вопрос</label>
    <div>@Html.HiddenFor(model => model.TestId)</div>
    <div>@Html.HiddenFor(model => model.Id)</div>
    <div>
        @Html.EditorFor(model => model.Question, new { @class="text-white"})
        @Html.ValidationMessageFor(model => model.Question)
    </div>

    <label class="text-white">Комментарий</label>
    <div>
        @Html.EditorFor(model => model.Comment, new { @class = "text-white" })
        @Html.ValidationMessageFor(model => model.Comment)
    </div>

    <button class="btn" onclick="QuestionFormClose()" >Закрыть</button>
    <input class="btn" onclick="AddQuestion()" type="button" value="Сохранить" />
}

