﻿@model  WebUI.ViewModels.Interfaces.ITestCreate
@section Scripts{

    <script>
        $(document).ready(function() {
            $('#IsOpenCheckBox').on('change',
                function() {
                    if ($('#IsOpenTest').val() === 'true') {
                        $('#IsOpenTest').val('false');
                    }
                    else {
                        $('#IsOpenTest').val('true');
                    }
                });
        });
    </script>
}


<div class="row">
    <div class="col-s6 s2 offset-4">
        <div class="card">
            <div class="card-action teal lighten-1 white-text center">
                <h3>Новый тест</h3>
            </div>
            <div class="card-content">


                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(false)

                    <div class="panel-body">


                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">add</i>
                                @Html.EditorFor(model => model.Name)
                                <label>Тема</label>
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">lock_open</i>
                                <label>
                                    <input type="checkbox" id="IsOpenCheckBox" class="navbar-toggle" />
                                    <span>Открытый тест</span>
                                </label>
                                <input type="hidden" id="IsOpenTest" />
                                @Html.ValidationMessageFor(model => model.IsOpenTest)
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">alarm_on</i>
                                @Html.TextBoxFor(model => model.TimeToExecute, new
                                {
                                    @class = "form-control timepicker-holdOffTime",
                                    type = "time"
                                         ,
                                    step = 1,
                                    @placeholder = "hh:mm:ss"
                                })
                                <label>Время на выполнение</label>
                                @Html.ValidationMessageFor(model => model.TimeToExecute)
                            </div>

                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">looks_5</i>
                                @Html.EditorFor(model => model.FetchSize)
                                <label>Отлично</label>
                                @Html.ValidationMessageFor(model => model.FetchSize)
                            </div>
                        </div>

                        <div>
                            <hr />
                            <span>Условия оценивания(% правильных ответов)</span>


                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">looks_5</i>
                                    @Html.EditorFor(model => model.Perfect)
                                    <label>Отлично</label>
                                    @Html.ValidationMessageFor(model => model.Perfect)
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">looks_4</i>
                                    @Html.EditorFor(model => model.Good)
                                    <label>Хорошо</label>
                                    @Html.ValidationMessageFor(model => model.Good)
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">looks_3</i>
                                    @Html.EditorFor(model => model.Satisfactorily)
                                    <label>Удовлетворительно</label>
                                    @Html.ValidationMessageFor(model => model.Satisfactorily)
                                </div>
                            </div>


                        </div>
                        <div class="panel-footer">
                            <input type="submit" value="Сохранить" class="btn btn-primary" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
