﻿@using Microsoft.Ajax.Utilities
@model List<WebUI.ViewModels.TestViewModel>
@{
    ViewBag.Title = "Кабинет";
}
@section Scripts{
    <script>
        function checked(value) {
            $('#IsOpen').prop('checked', value);
        }

        $(document).ready(function() {
            $('.fixed-action-btn').floatingActionButton();
            $('.tooltipped').tooltip();

            //чекбокс доступности теста
            $('.IsOpen').click(function () {
                $elem = $(this);
                $.ajax({
                    type: "POST",
                    data: $(this).closest('form').serialize(),
                    url: '@Url.Action("IsOpenTest", "Cabinet")',
                    success: function (data) {
                        //изменить запись доступности
                        $($elem).closest('tr ').children('.accessRecord').html(data.record);
                      
                        M.toast({ html: data.message });
                    },
                    error: function(data) {
                        M.toast({ html: data.message });
                    }
                });
            });
        });

    </script>
}

<div class="row mt-5">
    <div class="col center">
        <div class="card">
            <div class="card-action teal lighten-1 white-text center">
                <h4>Добавленные вами тесты</h4>
            </div>
            <div class="card-content">

                <table class="table highlight">
                    <thead>
                        <tr>
                            <th>
                                @Html.Label("Название")
                            </th>
                            <th>
                                @Html.Label("Дата добавления")
                            </th>
                            <th>
                                @Html.Label("Время на выполнение, мин")
                            </th>
                            <th>
                                @Html.Label("Допущенные группы")
                            </th>
                            <th>
                                @Html.Label("Информация о тесте")
                            </th>
                            <th>
                                @Html.Label("Доступность")
                            </th>
                        </tr>
                    </thead>

                    <tbody>


                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.Name
                                </td>

                                <td>
                                    @item.AddingDate
                                </td>
                                <td>
                                    @item.TimeToExecute.ToString()
                                </td>
                                <td class="accessRecord">
                                    @(item.IsOpenTest ? "Доступен к прохождению": item.AcceptedGroups.IsNullOrWhiteSpace()? "Закрыт":"")
                                    @if (!item.IsOpenTest)
                                    {
                                        @item.AcceptedGroups
                                    }

                                </td>
                                <td>
                                    <a href="@Url.Action("Details", "Cabinet", new {id = item.Id})" class="waves-effect waves-light btn">Редактировать</a>

                                </td>
                                <td class="accessCheck">
                                    @*<a href="@Url.Action("AddGroups", "Exam", new {Id = item.Id})" class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Изменить</a>*@
                                    
                                    <form class="OpenForm">
                                        <div>
                                            <input type="hidden" class="TestId" name="TestId" value="@item.Id"  />
                                            <label class="tooltipped"  data-tooltip="Доступность теста к прохождению" >
                                                <input type="checkbox" name="IsOpenTest" class="IsOpen" checked="@item.IsOpenTest"/>
                                                <span>Открыт</span>
                                            </label>
                                        </div>
                                    </form>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>


<div class="fixed-action-btn">
    <a class="btn-floating btn-large blue pulse">
        <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
        <li>
            <a class="btn-floating red tooltipped" data-position="left" data-tooltip="Добавить новый тест" href="@Url.Action("Create", "Exam")"><i class="material-icons">add_circle_outline</i></a>
        </li>

    </ul>
</div>