﻿@model WebUI.ViewModels.Interfaces.ITestDetails



<div class="row">
    <div class="col s12 m6">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <div class="card-title">
                    <p>
                        Название: @Model.Name
                    </p>
                    <small>
                        Добавлен @Model.AddingDate
                    </small><br />
                    <small>время на выполнение: @Model.TimeToExecute минут</small>
                    <br />
                    <button type="button" class="btn btn-default  margo" title="Добавить" value="Добавить вопросы" onclick="location.href='@Url.Action("Create", "Questions", new { Id = Model.Id })'">
                        <i class="glyphicon glyphicon-question-sign"></i>
                        <text> Добавить вопросы к тесту</text>
                    </button>
                </div>


                @if (!Model.IsOpenTest)
                {
                    <button style="width:100%; color:black" type="button" class="btn btn-default  margo" title="Добавить" value="Добавить группы" onclick="location.href='@Url.Action("AddGroups", "Exam", new { Id = Model.Id })'">
                        <i class="glyphicon glyphicon-question-sign"></i>
                        <text>Доступ к тесту для групп</text>
                    </button>
                }

                
                <div>

                    @if (!Model.IsOpenTest)
                    {
                        <div>Группы, которые могут проходить тест: @(Model.NumsOfPassedGroup == null ? "Доступ закрыт для всех" : Model.NumsOfPassedGroup )</div>
                    }
                </div>

                <div id="accordion">
                    @foreach (var question in Model.Questions)
                    {
                        <h2>
                            @question.Text
                        </h2>

                        <div>
                            <div>
                                <button class="btn btn-secondary" onclick="location.href='@Url.Action("Details", "Questions", new { Id = question.Id })'">Детали</button>
                            </div>
                            <div class=" Answer">
                                <ul>
                                    @foreach (var answer in question.Answers)
                                    {
                                        <li>
                                            <label class="@(answer.IsTrueAnswer ? "TrueAnswer" : "FalseAnswer")">@answer.Text</label>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    }
                </div>


                <div class="card-action">

                    <text class="additionalText">
                        <i>Прим:</i> цветом выделены верные ответы
                    </text>
                </div>
            </div>
        </div>
    </div>
</div>




@section scripts{
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />

    <script>
        $(function () {
            $("#accordion").accordion({ collapsible: true, active: false });
            $(".questionInfo").stopImmediatePropagation();
        });
    </script>
}