﻿@model IEnumerable<WebUI.ViewModels.IShowTests>

@{
    ViewBag.Title = "ИС Тестирование";
    int countcol = 0;
}

<div class="row">
    <div class="col s2 offset-4 center">
        <h4>Доступные тесты</h4>
        <div class="card-content">
            @foreach (var item in Model)
            {
                    <div class="col s4 m4" >
                        <div class="card blue-grey darken-1  white-text " >
                            <div class="card-content text-left">
                                <span class="card-title">@item.Name</span>

                                <div class="material-placeholder mb-3 text-left">

                                    @if (item.Comment != null)
                                    {
                                        <p>@item.Comment</p>
                                        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>

                                    }
                                    else
                                    {
                                        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                                    }

                                </div>
                                <span class="new blue-grey-text bg-transparent badge" data-badge-caption="">
                                    <button type="button" class="btn btn-default " onclick="location.href = '@Url.Action("Passing", "TestPassing", new {Id = item.Id})'">
                                        начать тест
                                    </button>
                                </span>
                            </div>

                            <div class="card-footer">
                                <div class="text-left">
                                    @if (item.IsPassed)
                                    {
                                        <span class="new blue-grey-text bg-transparent badge" data-badge-caption="">
                                            <a class="tooltipped" data-position="bottom" data-tooltip="Результат тестирования" href="@Url.Action("GetResultHistory","TestPassing",new { id= item.Id})">
                                                <i class="material-icons">insert_chart</i>
                                            </a>
                                        </span>
                                    }
                                </div>
                                <div class="text-right">
                                    <span class="new white-text bg-transparent badge" data-badge-caption="@item.TimeToExecute.ToString()">Время на выполнение: </span>
                                </div>

                            </div>
                        </div>
                    </div>

            }

        </div>
    </div>
</div>

@section Scripts{
    <script>
         $(document).ready(function(){
    $('.tooltipped').tooltip();
  });
    </script>
}