﻿@model WebUI.ViewModels.AnsverViewModel
@{
    ViewBag.Title = "Create";
}


<div class="card mt-5">
    <div class="card-content">
        <h4>
            Добавление ответа
        </h4>
        <h5>
            @ViewBag.Question
        </h5>


        @using (Html.BeginForm())
        {
            @Html.HiddenFor(model => model.QuestionId)
            @Html.Label("Ответ");
            @Html.EditorFor(model => model.Text)
            @Html.ValidationMessageFor(model => model.Text)
            @Html.Label("Является верным");
            @Html.CheckBoxFor(model => model.IsTrueAnswer)
            <br />
            <input type="submit" value="Сохранить" />
        }
    </div>
</div>
