﻿@model WebUI.ViewModels.AnsverViewModel
@{
    ViewBag.Title = "Редактирование";
}

<h3>
    Редактирование ответа
</h3>
<h2>
    @Html.Label(Model.QuestionText)
</h2>


@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.QuestionId)
    @Html.HiddenFor(model => model.Id)

    @Html.Label("Ответ")
    @Html.EditorFor(model => model.Text)
    @Html.ValidationMessageFor(model => model.Text)
    @Html.Label("Является верным")
    @Html.CheckBoxFor(model => model.IsTrueAnswer)

    <input type="submit" value="Сохранить" />
}
