﻿@model WebUI.ViewModels.IQuestion


@using (Html.BeginForm(null,null,FormMethod.Post, new{id ="QuestionForm"}))
{
    @Html.ValidationSummary(true)
    <label>Введите вопрос</label>
    <div>@Html.HiddenFor(model => model.TestId)</div>
    <div>@Html.HiddenFor(model => model.Id)</div>
    <div>
        @Html.EditorFor(model => model.Question)
        @Html.ValidationMessageFor(model => model.Question)
    </div>

    <label>Комментарий</label>
    <div>
        @Html.EditorFor(model => model.Comment)
        @Html.ValidationMessageFor(model => model.Comment)
    </div>

    <button class="btn" onclick="QuestionFormClose()" >Закрыть</button>
    <input class="btn" onclick="AddQuestion()" type="button" value="Сохранить" />
}

