﻿@model WebUI.ViewModels.AnsverViewModel

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "AnswerForm" }))
{
    @Html.HiddenFor(model => model.QuestionId)
    @Html.Label("Ответ")
    @Html.EditorFor(model => model.Text)
    @Html.ValidationMessageFor(model => model.Text)
    
    <div class="row">
        <div class="col">
            <p>
                <label for="TrueAnswer">
                    <input type="checkbox"  name="TrueAnswer" id="TrueAnswer" />
                    <span>Верно</span>
                </label>
            </p>
        </div>
        <div class="col">
            <input type="button" class="btn" value="Закрыть" id="close" onclick="AnswerFormClose()" />
            <input type="button" class="btn" value="Сохранить" onclick="addAnswer()" />
        </div>
    </div>
}
