﻿@model WebUI.ViewModels.QuestionViewModel
@{
    ViewBag.Title = "AddQuestion";
}


@section Scripts{
    <script>
        function getData() {
            $.ajax({
                type: "GET",
                url: @Url.Action("GetAllQuestion", "NewTest",new{Id= Model.TestId}),
                success: function(data) {
                    $('.collection').append('<a href="@Url.Action("GetAnswers", "NewTest", new { Id = Model.Id })" >' +
                        data.text +
                        '</a>');
                }
            });
        }

        getData();
    </script>
}
