﻿@model WebUI.ViewModels.Interfaces.ITestDetails
@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col s12 m6">
        <div class="card blue-grey darken-1">
            <div class="card-header white-text">
                <div class="card-title">@Model.Name</div>
            </div>
            <div class="card-content">
                <div class="row ">
                    <div class="col-5 ">
                        <ul class="questions-collection collection z-depth-2 "></ul>
                            <a  class="waves-effect waves-light btn" onclick="GetQuestionForm(@Model.Id)">Добавить вопрос<i class="material-icons right">add_circle_outline</i></a>
                        <div id="add-question"></div>
                    </div>

                    <div class="col-2 ">
                        <i class="material-icons large ">arrow_forward</i>
                    </div>

                    <div class="col-5">
                        <ul class="answers">
                        </ul>

                        <div id="add-answer"></div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script>
        //обработчик для списка вопросов
        function setActive() {
            $('.collection-item ').click(function() {

                $('.questions-collection .active').removeClass("active");
                $('#add-answer').empty();
                $(this).addClass("active");
                GetAnswerList($(this).attr('id'));
            });
        }

        //получить и отобразить список вопросов
        function GetAllQuestion() {
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetAllQuestion", "NewTest", new {id = Model.Id}, this.Request.Url.Scheme)',
                success: function (data) {
                    $('.questions-collection').empty();
                    for (var i = 0; i < data.length; i++) {
                        $('.questions-collection').append(
                            '<li class="collection-item" id="' + data[i].id + '"><div>' + data[i].text + '<span onclick="deleteQuestion(' + data[i].id +')" class="secondary-content ">'+
                        '<i class="material-icons" >delete</i></span></div></li>'
                            );
                    }
                    setActive();
                }
            });
        }

        //получить и отобразить список ответов для конкретного вопроса
        function GetAnswerList(id) {
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetAnswers", "NewTest")/' + id,
                success: function(data) {
                    $('.answers').empty();
                    if (data.length > 0) {
                        $('.answers').append(' <div class="answers-collection collection  z-depth-2" ></div>');

                        for (var i = 0; i < data.length; i++) {
                            if (data[i].isTrueAnswer == true) {
                                $('.answers-collection')
                                    .append(
                                        '<li class="collection-item red lighten-2 " id="' +
                                        data[i].id +
                                        '">' +
                                        '<div>' +
                                        data[i].text +
                                        '<a onclick="RemoveAnswer(' +
                                        data[i].id +
                                        ')" class="secondary-content"><i class="material-icons">delete</i></a></div></li>'
                                    );
                            } else {
                                $('.answers-collection')
                                    .append(
                                        '<li class="collection-item" id="' +
                                        data[i].id +
                                        '">' +
                                        '<div>' +
                                        data[i].text +
                                        '<a onclick="RemoveAnswer(' +
                                        data[i].id +
                                        ')" class="secondary-content"><i class="material-icons">delete</i></a></div></li>'
                                    );
                            }
                        }
                    }
                    $('.answers')
                        .append(
                            '<a  class="waves-effect waves-light btn" id="' +
                            id +
                            '" onclick="GetAnswerForm(' +
                            id +
                            ')" >Добавить ответ<i class="material-icons right">add_circle_outline</i></a>');

                }
            });
        }

        $(document).ready(function() {
            GetAllQuestion();
            $('.tooltipped').tooltip();
        });

        //подгружаем форму для нового ответа
        function GetAnswerForm(id) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddAnswerForm", "NewTest")/' + id,
                success: function(data) {
                    $('#add-answer').empty();
                    $('#add-answer').html(data);
                }
            });
        }

        //закрыть форму отображения
        function AnswerFormClose() {
            $('#add-answer').empty();
        }
        function addAnswer() {
            $.ajax({
                type: "POST",
                data: $('#AnswerForm').serialize(),
                url: '@Url.Action("AddAnswer", "NewTest")',
                success: function (data) {
                    if ($('.answers-collection').length === 0) {
                        $('.answers').prepend(' <div class="answers-collection collection  z-depth-2" ></div>');
                    }
                    if (data.isTrueAnswer == true) {
                        $('.answers-collection').append(
                                '<li class="collection-item red lighten-2" id="' +
                                data.id +
                                '">' +
                                '<div>' +
                                data.text +
                                '<a onclick="RemoveAnswer(' +
                                data.id +
                                ')" class="secondary-content"><i class="material-icons">delete</i></a></div></li>'
                            );
                    } else {
                        $('.answers-collection').append(
                            '<li class="collection-item" id="'
                                + data.id +'"><div>'
                                + data.text + '<a onclick="RemoveAnswer('
                                + data.id +')" class="secondary-content"><i class="material-icons">delete</i></a></div></li>'
                            );

                    }
                    M.toast({ html: data.message });
                    $('#AnswerForm')[0].reset();

                },
                error: function(response) {
                    M.toast({ html: response.responseText });
                }
            });

        }

        function RemoveAnswer(id) {
            $.ajax({
                type: "GET",
                url: '@Url.Action("DeleteAnswer", "NewTest")/' + id,
                success: function(data) {

                    GetAnswerList(data.Id);
                    M.toast({ html: data.message });
                },
                error: function(data) {
                    M.toast({ html: data.message });
                }
            });
        }


        //-------QUESTIONS-------//
        //подгружаем форму для нового вопроса
        //id- Id теста
        function GetQuestionForm(id) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddQuestionForm", "NewTest")/' + id,
                success: function(data) {
                    $('#add-question').empty();
                    $('#add-question').html(data);
                }
            });
        }

        //закрыть форму отображения
        function QuestionFormClose() {
            $('#add-question').empty();
        }


        function AddQuestion() {
            $.ajax({
                type: "POST",
                data: $('#QuestionForm').serialize(),
                url: '@Url.Action("AddQuestion", "NewTest")',
                success: function(data) {
                    $('.questions-collection').append(
                        '<li class="collection-item" id="' + data.id + '"><div>' + data.text + '<span onclick="deleteQuestion(' + data.id +')" class="secondary-content ">'+
                        '<i class="material-icons" >delete</i></span></div></li>'
                    );
                    GetAllQuestion();
                    M.toast({ html: data.message });
                    $('#QuestionForm')[0].reset();
                },
                error: function(response) {
                    M.toast({ html: response.message });
                }
            });
        }

        function deleteQuestion(id) {
            $.ajax({
                type: "GET",
                url: '@Url.Action("DeleteQuestion", "NewTest")/' + id,
                success: function(data) {
                    GetAllQuestion();
                    $('#add-answer').empty();
                    M.toast({ html: data.message });
                },
                error: function(data) {
                    M.toast({ html: data.message });
                }
            });
        }
    </script>
}