﻿@model WebUI.ViewModels.PassingGroupsVm
@{
    ViewBag.Title = "Добавление групп";
}

@section Scripts{
<script>
        $(document).ready(function() {
            $('select').formSelect();
            $('Input').addClass('lime-text text-darken-2');
            $('#IsOpen').prop('checked', @ViewBag.IsOpenChecked.ToString().ToLower());



        });
</script>
}
    <div class="row">
        <div class="col s12 m6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <div class="card-title">@ViewBag.TestName</div>

                    @using (Html.BeginForm())
                      {
                    <div>
                        @Html.HiddenFor(model => model.TestId)
                        <div class="input-field col s12">
                            @Html.DropDownList("GropList", null, new { multiple = "multiple" })
                            <label>Выберите группы из списка</label>
                        </div>
                        
                    <div class="input-field col s12">
                        <label  >
                            <input type="checkbox" name="isOpen" id="IsOpen">
                            <span id="check" class=" white-text text-darken-2">  Доступен для всех  </span>
                        </label>
                           
                        </div>


                        <div class="center">
                            <button class="btn waves-effect waves-light btn-large" type="submit" name="action">
                                Сохранить
                                <i class="material-icons right">send</i>
                            </button>
                            <a href="@Url.Action("Index","Cabinet")" class="waves-effect waves-light btn btn-large">Отмена<i class="material-icons right">cancel</i></a>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
