﻿@model  WebUI.ViewModels.Interfaces.ITestCreate
@{
    ViewBag.Title = "Новый тест";
}
@section Scripts{

    <script>
        $(document).ready(function () {
            $('select').formSelect();
            $('#IsOpenCheckBox').on('change',
                function () {
                    if ($('#IsOpenTest').val() === 'true') {
                        $('#IsOpenTest').val('false');
                        console.log($('#IsOpenTest').val());
                    }
                    else {
                        $('#IsOpenTest').val('true');
                        console.log($('#IsOpenTest').val());
                    }
                });
            $('.tooltipped').tooltip();
        });
    </script>
}

<div class="row mt-5">
    <div class="col-12">
        <div class="card">
            <div class="card-action teal lighten-1 white-text center">
                <h4>Новый тест</h4>
            </div>
            <div class="card-content">
                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(false)

                    <div class="panel-body">
                        <div class="row">
                            <div class="input-field col s12 tooltipped" data-position="bottom" data-tooltip="Название теста">
                                <i class="material-icons prefix">add</i>
                                @Html.EditorFor(model => model.Name, new { id = "Name" })
                                <label for="Name">Тема</label>
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 m4">
                                <div class="input-field col s12 tooltipped" data-position="left" data-tooltip="Доступность теста <br>для прохождения всеми группами">
                                    <label>
                                        <input type="checkbox" id="IsOpenCheckBox" class="navbar-toggle" />
                                        <span>Открытый тест</span>
                                    </label>
                                    <input type="hidden" id="IsOpenTest" name="IsOpenTest" />
                                    @Html.ValidationMessageFor(model => model.IsOpenTest)
                                </div>
                            </div>
                            <div class="col s12 m4">
                                <div class="input-field col s12 tooltipped" data-position="bottom" data-tooltip="Время на прохождение">
                                    <i class="material-icons prefix">alarm_on</i>
                                    @Html.TextBoxFor(model => model.TimeToExecute, new
                               {
                                   @class = "form-control timepicker-holdOffTime",
                                   type = "time"
                                    ,
                                   step = 1,
                                   @placeholder = "hh:mm:ss"
                               })
                                    <label>Время на выполнение</label>
                                    @Html.ValidationMessageFor(model => model.TimeToExecute)
                                </div>
                            </div>

                            <div class="col s12 m4">
                                <div class="input-field col s12 tooltipped" data-position="bottom" data-tooltip="количество вопросов">
                                    <i class="material-icons prefix">playlist_add_check</i>
                                    @Html.EditorFor(model => model.FetchSize, new { id = "FetchSize" })
                                    <label for="FetchSize">Количество вопросов в тесте</label>
                                    @Html.ValidationMessageFor(model => model.FetchSize)
                                </div>
                            </div>


                        </div>
                        <div class="row">
                            <div class="col s6 m6">
                                @Html.DropDownList("CategoryId", ViewBag.Category as SelectList, new { })
                                <label>Категория</label>
                            </div>
                            <div class="col s6 m6">
                                <div class="input-field col s12 tooltipped" data-position="left" data-tooltip="Описание теста или дополнительная информация">
                                    @Html.TextAreaFor(model => model.Comment)
                                    <label>Описание</label>
                                </div>
                            </div>
                        </div>
                        <div>
                            <hr />
                            <span>Условия оценивания(% правильных ответов)</span>
                            <div class="row">
                                <div class="col s12 m4">
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix">looks_5</i>
                                        @Html.EditorFor(model => model.Perfect, new { id = "Perfect" })
                                        <label for="Perfect">Отлично</label>
                                        @Html.ValidationMessageFor(model => model.Perfect)
                                    </div>
                                </div>

                                <div class="col s12 m4">
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix">looks_4</i>
                                        @Html.EditorFor(model => model.Good, new { id = "Good" })
                                        <label for="Good">Хорошо</label>
                                        @Html.ValidationMessageFor(model => model.Good)
                                    </div>
                                </div>

                                <div class="col s12 m4">
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix">looks_3</i>
                                        @Html.EditorFor(model => model.Satisfactorily, new { id = "Satisfactorily" })
                                        <label for="Satisfactorily">Удовлетворительно</label>
                                        @Html.ValidationMessageFor(model => model.Satisfactorily)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <input type="submit" value="Сохранить" class="btn btn-primary" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
