﻿@model WebUI.ViewModels.Interfaces.ITestCreate

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление теста</h2>

<h3>Вы действительно хотите удалить этот тест?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsOpenTest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsOpenTest)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.TimeToExecute)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeToExecute)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Perfect)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Perfect)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Good)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Good)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Satisfactorily)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Satisfactorily)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
