﻿@model  WebUI.ViewModels.Interfaces.ITestCreate

<h2>Редактирование теста</h2>

@using (Html.BeginForm())
{
    <div class="panel-body">
        <div class="form-group">
            @Html.HiddenFor(model => model.Id)
        </div>

        <div class="form-group">
            @Html.DisplayNameFor(model => model.Name)
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="form-group">
            @Html.DisplayNameFor(model => model.IsOpenTest)
            @Html.CheckBoxFor(model => model.IsOpenTest)
            @Html.ValidationMessageFor(model => model.IsOpenTest)
        </div>



        <div class="form-group">
            @Html.DisplayNameFor(model => model.TimeToExecute)
            @Html.EditorFor(model => model.TimeToExecute)
            @Html.ValidationMessageFor(model => model.TimeToExecute)
        </div>

        <div>
            <label>Условия оценивания(% правильных ответов)</label>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Perfect)
                @Html.EditorFor(model => model.Perfect)
                @Html.ValidationMessageFor(model => model.Perfect)
            </div>

            <div class="form-group">
                @Html.DisplayNameFor(model => model.Good)
                @Html.EditorFor(model => model.Good)
                @Html.ValidationMessageFor(model => model.Good)
            </div>

            <div class="form-group">
                @Html.DisplayNameFor(model => model.Satisfactorily)
                @Html.EditorFor(model => model.Satisfactorily)
                @Html.ValidationMessageFor(model => model.Satisfactorily)
            </div>
        </div>
        <div class="panel-footer">
            <input type="submit" value="Сохранить" class="btn btn-primary" />
        </div>
    </div>
}