﻿@using System.Web.ApplicationServices
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/materialize")
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/MaterialIcons.css" rel="stylesheet" />
    <link href="~/Content/Animate.css" rel="stylesheet" />
    @*8(465) 696-49-13*@
</head>

<body>
    <main>
        <div class="nav-wrapper">

            <!-- Dropdown Structure -->
            <ul id="dropdown1" class="dropdown-content">
                @if (User.IsInRole("Преподаватель"))
            {
                    <li><a href="@Url.Action("Index", "Cabinet")">Кабинет</a></li>
                    <li class="divider"></li>
                }
                <li><a href="@Url.Action("Logout", "Account")">Выход</a></li>
            </ul>

            <nav class="blue-grey darken-1">
                <div class="container">
                    <a href="@Url.Action("Index", "Home")" class="brand-logo left">ИС Тестирование</a>

                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Войти", "Login", "Account")</li>
                        }
                        else
                        {
                            <li>
                                <a class="dropdown-trigger" href="#!" data-target="dropdown1">Здравствуйте, @User.Identity.Name<i class="material-icons right">arrow_drop_down</i></a>
                            </li>
                            <li>
                                @Html.Action("_UserRoles", "Home")
                            </li>
                            <li>   </li>
                        }
                    </ul>
                </div>
            </nav>
        </div>
        <div class="container body-content">
            @RenderBody()
        </div>
    </main>
    <footer class="page-footer footer-bottom blue-grey darken-1">
        <div class="footer-copyright">
            <div class="container">
                © 2018 Разработано в НИО
                @*<a class="grey-text text-lighten-4 right" href="#!">More Links</a>*@
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/scripts/materialize")

    @RenderSection("scripts", required: false)
<script>
    $(document).ready(function() {
        $(".dropdown-trigger").dropdown();
    //  Materialize.updateTextFields();
    });
</script>


</body>
</html>
